.navbar {
	justify-content: space-between;
	object-fit: contain;

	z-index: 2;

	background-color: #5d5d5a;
}

.navbar__logo {
	color: #ffa45c;
	object-fit: contain;
	justify-items: center;
	margin-left: 15px;
}

.navbar__icon {
	position: relative;
	top: 5px;
	color: #ffa45c;
}

.notification {
	color: #2f2f31;
}
